/* Glassmorphism card effect */
.card .ant-card-head-title {
  text-transform: capitalize;
}


.exam-status-card {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-right: 16px;
}

.calendar-icon {
  color: #1890ff;
}

.check-icon {
  color: #52c41a;
}

.stop-icon {
  color: #ff4d4f;
}

.details {
  font-size: 15px;
  font-weight: normal;
}

.bold-text {
  font-size: 16px;
  font-weight: bold;
}
