.question-box {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 11px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.question-box.answered {
    background-color: #6D76ED;
    border: 1px solid #6D76ED;
    color: #fff;
}

.question-box.answered:hover {
    background-color: #6D76ED;
}

.question-box.skipped {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #000;
}

.question-box.skipped:hover {
    background-color: #bdbdbd;
}

.question-box {
    background-color: #fff;
    color: #000;
}

/* Highlight the current question with a blue border */
.question-box.current {
    border: 2px solid #000000;
}

/* Optional: Hover effect for current question */
.question-box.current:hover {
    background-color: #e6f1ff;
}

/* Time Container Styles */
.time-container {
    padding: 24px;
    background: #f7f7f7; /* Light background */
    border-radius: 8px;
  }
  
  .time-content {
    padding: 24px;
    background: #fff;
    border-radius: 8px;
  }
  
  .countdown-timer {
    text-align: center;
    padding: 12px 24px;
    background: #f0f0f0;
    border: 2px solid #6D76ED;
    border-radius: 8px;
  }
  
  .topic {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .submit-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-button {
    background-color: #6D76ED;
    border-color: #6D76ED;
    color: #fff;
  }
  
  .submit-button:hover {
    background-color: #5748b4;
    border-color: #5748b4;
  }
  

/* 
.summary-container {
    padding: 16px 16px;
    background: #FFF;
    border-radius: 8px;
} */

.answer-container {
    padding: 12px 24px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.answer-container.hovered {
    border-color: #6D76ED !important;
}

.answer-container.selected {
    border-color: #6D76ED !important;
}

.radio-button {
    margin-right: 8px;
    transform: scale(1.6);
    accent-color: #6D76ED !important;
}

.radio-button:checked{
    color: #6D76ED !important;
}

.button-container {
    margin: 10px;
    margin-top: 24px;
    margin-bottom: 0px;
    display: flex;
    justify-content: right;
}

.button{
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
}

.clear-button {
    background-color: #da0000;
}

.clear-button:hover {
    background-color: #bf0000 !important;
}


.previous-button {

    margin: 0px 20px;
}

.submit-button {
    width: 100%;
}

.camera-feed-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border: 2px solid #6d76ed;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: move;
    height: auto;
  }
  
  .camera-feed-video {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #000000;
  }
  
  .camera-feed-alert {
    margin-bottom: 10px;
  }
  
  .camera-feed-close-btn {
    margin-top: 10px;
    width: 100%;
  }
  