.question-box {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 11px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.question-box.answered {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
}

.question-box.answered:hover {
    background-color: #0475df;
}

.question-box.skipped {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #000;
}

.question-box.skipped:hover {
    background-color: #bdbdbd;
}

.question-box {
    background-color: #fff;
    color: #000;
}
