.question-box {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 11px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.question-box.answered {
    background-color: #1b7bff;
    border: 1px solid #1b7bff;
    color: #fff;
}

.question-box.answered:hover {
    background-color: #0475df;
}

.question-box.skipped {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #000;
}

.question-box.skipped:hover {
    background-color: #bdbdbd;
}

.question-box {
    background-color: #fff;
    color: #000;
}


/* .question-container{
    padding: '1px 24px';
    background: #FFF;
    border-radius: 4;
}; */

/* MCQ Question View */
.question-container {
    padding: 1px 24px;
    background: #FFF;
    border-radius: 8px;
}

.answer-container {
    padding: 12px 24px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.answer-container.hovered {
    border-color: #1b7bff;
}

.answer-container.selected {
    border-color: #1b7bff;
}

.radio-button {
    margin-right: 8px;
    transform: scale(1.6);
    accent-color: #1b7bff;
}

.button-container {
    margin: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: right;
}

.button{
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
}

.clear-button {
    background-color: #da0000;
}

.clear-button:hover {
    background-color: #bf0000 !important;
}

.next-button:hover {
    background-color: #0475df !important;
}

.previous-button {

    margin: 0px 20px;
}

.previous-button:hover {
    background-color: #0475df !important;
}

.submit-button {
    width: 100%;
}